<hr>

<a href="/profile">Profile</a>

<hr>


<% artists.forEach(artist => { %>
    <ul>
        <li><%= artist.displayName %></li> 
        <form action="/faves/<%= artist.id %>?_method=DELETE" method="POST">
        <input name="id" value="<%= artist.id %>" type="hidden">
        <input name="displayName" value="<%= artist.displayName %>" type="hidden">
        <input name="onTourUntil" value="<%= artist.onTourUntil %>" type="hidden">
        <input type="submit" value="Delete">
    </form>
    </ul>

<% }) %>