<hr class="line-break">

<a href="/profile">Profile</a>

<hr class="line-break">


<% artists.forEach(artist => { %> 
<div class="card">
  <p class="artistOne">Artist: <%= artist.displayName %></p>
  
  <form action="/faves/<%= artist.id %>?_method=DELETE" method="POST">
    <input name="id" value="<%= artist.id %>" type="hidden">
    <input name="displayName" value="<%= artist.displayName %>" type="hidden">
    <input name="onTourUntil" value="<%= artist.onTourUntil %>" type="hidden">
    <input type="submit" value="Delete">
  </form>
  </br>
  <p>Interest Level: <%= artist.interestLevel %>
    <form action="faves/<%= artist.id %>?_method=PUT" method="POST">
      <input type="text" name="interestLevel" placeholder="Your interest level">
      <br>
      <input type="submit" value="update interest level"> 
    </form>
  </p>
</div>
  <hr class="line-break">

<% }) %>

<footer>Provided by SongKick API</footer>